@model IEnumerable<NordicTransportFinal.Data.Models.Domain.Transaction>

@{
    ViewBag.Title = "GetTransactions";
}

<style>
    .stylecontainer {
        margin: 2%;
        margin-top: 5%;
    }
</style>

<h2 class="stylecontainer">User Transactions</h2>

<p class="stylecontainer">
</p>
<table class="table stylecontainer">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DistanceTravelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaymentCompleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceTravelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaymentCompleted)
        </td>

    </tr>
}

</table>
